@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(180, 13, 13);
  color: white;
  overflow-x: hidden;
}

/* 
  ////////////////////////////////////////////////////////
   NAVBAR
  ///////////////////////////////////////////////////////
*/

.navbar {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
#offcanvasNavbar-expand {
  background-color: rgb(255, 0, 0);
}
.btn-div {
  display: flex;
  flex-direction: column;
  /* margin: 2rem; */
}

.thumbs {
  margin: 0px;
  padding: 0px;
}
.btn-div button {
  background: none;
  color: rgb(0, 0, 0);
  margin: 0rem;
  border: none;
  text-align: left;
  margin-left: 0;
  transition-duration: 300ms;
  padding: 0;
  transform: translateY(-8px);
}
.btn-div button:hover {
  background: none;
  color: black;
  /* margin-left: 0rem; */
  border: none;
}
.btn-div-2 {
  display: flex;
  flex-direction: column;
  /* margin: 2rem; */
}
.btn-div-2 button {
  background: none;
  color: rgb(0, 0, 0);
  margin: 0rem;
  border: none;
  text-align: left;
  margin-left: 0;
  transition-duration: 300ms;
  padding: 1rem;
  /* transform: translateY(-8px); */
}
.btn-div-2 button:hover {
  background: none;
  color: black;
  /* margin-left: 0rem; */
  border: none;
}
.material-symbols-outlined {
  padding: 0.8rem;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-width: 350px !important;
}

.nav-btn {
  background: none !important;
  color: black !important;
  border: none !important;
}

.nav-close-btn {
  background: none !important;
  color: black !important;
  border: none !important;
  padding: 0 !important;
  margin-right: 0 !important;
}
.offcanvas-header {
  min-height: 10vh;
  padding: 0 1rem !important;
  transform: translateY(10px);
}
.offcanvas-backdrop.show {
  /* filter: blur(3px); */
  opacity: 0.6 !important;
  /* filter: blur(3px) !important; */
  /* -webkit-backdrop-filter: blur(10px); */
}

.all-nav-btns {
  margin-right: 30px;
}
.nav-btns {
  color: whitesmoke;
  font-size: 0.9rem !important;
  margin-right: 2px;
}
.nav-btns:hover {
  padding-bottom: 20px;
  border-bottom: 2px solid whitesmoke;
}
.sign-in-btn {
  border: 1.3px solid rgba(255, 255, 255, 0.95) !important;
  color: rgba(255, 255, 255, 0.95) !important;
  border-radius: 2rem !important;
  padding: 0.4rem 1.3rem 0.6rem 1rem !important;
  margin-left: 5px;
}
.sign-in-btn:hover {
  border: 1.3px solid rgba(255, 255, 255, 0.95) !important;
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.95) !important;
  border-radius: 2rem !important;
  padding: 0.4rem 1.3rem 0.6rem 1rem !important;
}
.sign-in-btn span {
  padding: 0 !important;
  font-size: 1.2rem !important;
}
#signin {
  font-size: 0.9rem !important;
}
.sign-in-btn span:nth-child(1) {
  /* padding: 0 !important; */
  transform: translateY(4px);
  padding-right: 5px !important;
}
.left-nav h1 {
  display: inline-block;
  transform: translateY(5px);
  /* margin-top: 10px; */
  letter-spacing: 1px;
  color: white;
}
.offcanvas-title {
  font-size: 2rem !important;
  padding-left: 0.4rem;
}
.hamburger-menu {
  color: white !important;
}

@media screen and (max-width: 680px) {
  .navbar {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

/* //////////// Slider _Image ////////// */

.img-slider {
  height: 80vh;
  z-index: 3;
  /* position: absolute; */
}
.carousel-status {
  visibility: hidden;
}

.nav1 {
  position: fixed;
  z-index: 200;
  width: 100vw;
}

.overlay {
  /* height: 80vh; */
  height: 100%;
  width: 100%;
  position: absolute;
  /* z-index: 5; */
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.329),
      rgba(0, 0, 0, 0.666) 80%
    )
    fixed no-repeat;
}
.overlay-main-title {
  /* height: 80vh; */
  /* width: 100%; */
  z-index: 4;
  /* background-color: #00000090 !important; */
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.181), rgba(0, 0, 0, 0.58) 80%) fixed no-repeat; */
  position: absolute;
  color: #fff;
  /* top: 100%; */
  top: 40%;
  left: 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.overlay-main-title h1 {
  font-size: 500% !important;
  margin: 0;
}
.overlay-main-title span {
  font-size: 70% !important;
  padding-left: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}

nav {
  background-color: rgba(255, 255, 255, 0) !important;
  height: 8vh !important;
  color: white !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.339);
  transition: 700ms;
}
.nav-bg{
  background-color: rgb(2, 1, 1) !important; 
  height: 10vh !important;
  transition: 300ms;

  border-bottom: 1px solid rgba(255, 255, 255, 0.339);
}


.carousel .control-dots .dot {
  /* margin: 0 !important; */
  border-radius: 0 !important;
  width: 60px !important;
  height: 4px !important;
  z-index: 5 !important;
}
/* 
.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
font-size: 20px !important;
display: block !important ;
opacity: 1 !important;
height: 30px !important;
background-color: #000 !important;
margin: 0 !important;
padding: 0 !important;
top: 0px !important;
top:100px !important;
} */
/*   //////////////////////// Footer   //////////////////////// */

.text-white {
  text-decoration: none;
}
.list-unstyled li {
  padding: 10px 0px;
  text-align: left;
}

/*   //////////////////////// Card   //////////////////////// */
.menu-titles {
  padding: 3rem;
}
.menu-titles h1 {
  padding-left: 2rem;
  letter-spacing: 1px;
}
.new-trending-title {
  word-spacing: 1px;
}
.card-div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.card-comp-1 {
  background: url("../public/card_1.jpg") center center no-repeat;
}
.card-comp-2 {
  background: url("../public/card_2.jpg") center center no-repeat;
}
.card-comp-3 {
  background: url("../public/card_3.jpg") center center no-repeat;
}
.card-comp-4 {
  background: url("../public/card_4.jpg") center center no-repeat;
  overflow: hidden !important;
}
.category-cards {
  background-size: 300px;
  height: 400px;
  width: 300px;
  transition-duration: 500ms;
  overflow: hidden;
}
.category-cards:hover {
  height: 400px;
  width: 300px;
  cursor: pointer;
  background-size: 350px;
}
.category-cards h1 {
  color: #ffffff;
  position: relative;
  top: 70%;
  /* left: 0%; */
  padding: 10%;
}
.category-cards span {
  color: #ffffff;
  position: relative;
  top: 60%;
  /* left: 0%; */
  padding: 11%;
}

.category-cards p {
  color: #ffffff;
  position: relative;
  top: 45%;
  left: 60%;
  /* left: 0%; */
  padding: 11%;
  font-size: 1.5rem;
}

.product-card-div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.product-cards {
  height: 250px;
  width: 200px;
  background-size: 250px !important;
  transition-duration: 500ms;
  overflow: hidden;
  border-radius: 12px;
}

.product-name {
  margin: 0;
  margin-top: 7px !important;
  font-size: 1rem;
  /* font-weight:bold; */
}
.product-price {
  margin: 0;
  font-size: 0.85rem;
  padding-left: 2px;
  letter-spacing: 1px;
  /* font-weight:bold; */
}
.product-details {
  padding-left: 5px;
}

.product-card-comp-1 {
  background: url("../public/product_1.jpg") center center no-repeat;
  overflow: hidden !important;
}
.product-card-comp-2 {
  background: url("../public/card_3.jpg") center center no-repeat;
  overflow: hidden !important;
}
.product-card-comp-3 {
  background: url("../public/product_5.jpg") center center no-repeat;
  overflow: hidden !important;
}
.product-card-comp-4 {
  background: url("../public/product_2.jpg") center center no-repeat;
  overflow: hidden !important;
}
.product-card-comp-5 {
  background: url("../public/product_3.jpg") center center no-repeat;
  overflow: hidden !important;

}
/*   //////////////////////// Nav2  //////////////////////// */

@media only screen and ( max-width: 480px){
  .responsive_nav2{
    display: none;
  }

}
@media only screen and ( max-width: 1200px){
  .left_li1{
    margin-left: 7%;
  }
}
@media only screen and ( min-width: 1200px){
  .left_li1{
    margin-left: 5%;
  }
}
.responsive_nav2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.pointer{
  cursor: pointer;
}

.li_1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.border-b-1{
   border-bottom: 0.3px solid rgba(255, 255, 255, 0.393) ;
}

.li_1 li{
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.li_1_div{
  visibility: hidden;
}

.flex-end{
  margin:10px;
  padding-bottom: 10px ;  
  margin-right: 60px;
}

.btn-top{
  padding-top: 10px;
}

.nav1
{
  position: fixed;
  z-index: 200;
  width: 100vw;
  
}
nav{
  background-color: rgba(0, 0, 0, 0.144) !important; 
}

.nav2
{
  position: relative;
  width: 100vw;
  
}