.image_sliders {
  height: 80vh;
  z-index: 3;
  background-color: #000;

  background: radial-gradient(
    circle,
    rgb(95, 36, 97) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

.overlay_main_title {

  z-index: 4;
  position: absolute; 
  color: #fff;
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 15%;
  top: 23%;

}
.overlay_main_title > h1 {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.524);
  color: rgba(255, 255, 255, 0.726);
}
.carousel_search {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel_search input {
  background: rgba(0, 0, 0, 0.282);
  background: #e2e2e229;

  backdrop-filter: blur(5px);
  width: 60%;
  padding: 1%;
  text-align: center;
  font-size: 140%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search input:hover {
  background: rgba(0, 0, 0, 0.44);
  background: #e2e2e240;
}
.carousel_search input:focus {
  background: rgba(0, 0, 0, 0.44);
  background: #e2e2e240;
}
.carousel_search button {
  background: rgba(0, 0, 0, 0.282);
  background: #e2e2e229;
  border-radius: 50%;
  margin-left: 5px;
  transition-duration: 300ms;
}
.carousel_search button:hover {
  background: rgba(0, 0, 0, 0.44);
  background: #e2e2e240;
}
.carousel_search span {
  font-size: 1.3rem;
}

.line_span {
  font-size: 70% !important;
  padding-top: 1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-align: center;
}
.subcategory_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subcategory_name {
  font-size: 1rem;
  text-align: center;
  opacity: 0.8;
  letter-spacing: 2px;
  padding-top: 0.6rem;
  margin: 0;
  word-wrap: break-word;
}
.carousel_icon_div {
  display: flex;
  gap: 26px;
  padding-top: 2%;
  justify-content: center;
  align-items: center;
}
.carousel_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.282);
  border-radius: 50%;
  opacity: 0.7;
  backdrop-filter: blur(5px);
  text-decoration: none;
  margin: 0;

  transition-duration: 500ms;
}
.carousel_icons:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.44);
  background: #e2e2e24c;
  opacity: 1;
  font-size: 3.4rem;
}
.carousel_icon_div:hover .carousel_icons:not(:hover) {
  opacity: 0.5;
}
.carousel_icons span {
  font-size: 2rem;
  color: #fff;
}
.selected {
  width: 115px;
  height: 115px;
  opacity: 1;

}
.selected:hover {
  width: 115px;
  height: 115px;
}
.selected span {
  font-size: 3rem;
}

@media only screen and (max-width: 1150px){
.overlay_main_title>h1{
font-size: 7.5rem;
margin: 0;
}
.carousel_search input {
  width: 70%;
  padding: 1%;
  text-align: center;
  font-size: 110%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 100%;
padding: 0.65rem;
}
.line_span {
  font-size: 60% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icons {
  width: 90px;
  height: 90px;
}
.carousel_icons span {
  font-size: 1.8rem;
}
.selected {
  width: 99px;
  height: 99px;

}
.selected:hover {
  width: 99px;
  height: 99px;
}
.selected span {
  font-size: 2.5rem;
}
}
@media only screen and (max-width: 1060px){
.overlay_main_title>h1{
font-size: 7.5rem;
margin: 0;
}
.carousel_search input {
  width: 60%;
  padding: 1%;
  text-align: center;
  font-size: 110%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 100%;
padding: 0.65rem;
}
.line_span {
  font-size: 60% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icons {
  width: 80px;
  height: 80px;
}
.carousel_icons span {
  font-size: 1.6rem;
}
.selected {
  width: 92px;
  height: 92px;

}
.selected:hover {
  width: 92px;
  height: 92px;
}
.selected span {
  font-size: 2.3rem;
}
}
@media only screen and (max-width: 980px){
.overlay_main_title>h1{
font-size: 7.5rem;
margin: 0;
}
.carousel_search input {
  width: 80%;
  padding: 1%;
  text-align: center;
  font-size: 110%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 100%;
padding: 0.65rem;
}
.line_span {
  font-size: 60% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icon_div {
  gap: 22px;
  padding: 0 4%;
  padding-top: 2%;
  flex-wrap: wrap;

}
.carousel_icons {
  width: 80px;
  height: 80px;
}
.carousel_icons span {
  font-size: 1.6rem;
}
.selected {
  width: 92px;
  height: 92px;

}
.selected:hover {
  width: 92px;
  height: 92px;
}
.selected span {
  font-size: 2.3rem;
}
}
@media only screen and (max-width: 780px){
.overlay_main_title>h1{
font-size: 6.3rem;
margin: 0;
}
.carousel_search input {
  width: 80%;
  padding: 1%;
  text-align: center;
  font-size: 110%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 100%;
padding: 0.65rem;
}
.line_span {
  width: 150%;
  font-size: 45% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icon_div {
  gap: 20px;
  padding: 0 4%;
  padding-top: 3%;
  flex-wrap: wrap;

}
.carousel_icons {
  width: 80px;
  height: 80px;
}
.carousel_icons span {
  font-size: 1.6rem;
}
.selected {
  width: 92px;
  height: 92px;

}
.selected:hover {
  width: 92px;
  height: 92px;
}
.selected span {
  font-size: 2.3rem;
}
}
@media only screen and (max-width: 500px){
.overlay_main_title>h1{
font-size:5.5rem;
margin: 0;
}
.carousel_search {
  width: 80%;
}
.carousel_search input {
  width: 80%;
  padding: 0.8%;
  text-align: center;
  font-size: 90%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 80%;
padding: 0.65rem;
}
.line_span {
  width: 100%;
  font-size: 45% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icon_div {
  gap: 20px;
  padding: 0 4%;
  padding-top: 7%;
  flex-wrap: wrap;

}
.carousel_icons {
  width: 70px;
  height: 70px;
}
.carousel_icons span {
  font-size: 1.2rem;
}
.selected {
  width: 82px;
  height: 82px;

}
.selected:hover {
  width: 82px;
  height: 82px;
}
.selected span {
  font-size: 2rem;
}
}
@media only screen and (max-width: 450px){
.overlay_main_title>h1{
font-size:5.5rem;
margin: 0;
}
.carousel_search {
  width: 80%;
}
.carousel_search input {
  width: 80%;
  padding: 0.8%;
  text-align: center;
  font-size: 90%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 80%;
padding: 0.65rem;
}
.line_span {
  width: 100%;
  font-size: 45% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icon_div {
  gap: 20px;
  padding: 0 4%;
  padding-top: 7%;
  flex-wrap: wrap;

}
.carousel_icons {
  width: 70px;
  height: 70px;
}
.carousel_icons span {
  font-size: 1.2rem;
}
.selected {
  width: 82px;
  height: 82px;

}
.selected:hover {
  width: 82px;
  height: 82px;
}
.selected span {
  font-size: 2rem;
}
}
@media only screen and (max-width: 408px){
.overlay_main_title>h1{
font-size:5rem;
margin: 0;
}
.carousel_search {
  width: 80%;
}
.carousel_search input {
  width: 80%;
  padding: 0.8%;
  text-align: center;
  font-size: 90%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 80%;
padding: 0.65rem;
}
.line_span {
  width: 100%;
  font-size: 45% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icon_div {
  gap: 20px;
  padding: 0 0%;
  padding-top: 7%;
  flex-wrap: wrap;

}
.carousel_icons {
  width: 70px;
  height: 70px;
}
.carousel_icons span {
  font-size: 1.4rem;
}
.selected {
  width: 82px;
  height: 82px;

}
.selected:hover {
  width: 82px;
  height: 82px;
}
.selected span {
  font-size: 2rem;
}
}
@media only screen and (max-width: 392px){

.overlay_main_title>h1{
font-size:4.5rem;
margin: 0;
}
.carousel_search {
  width: 90%;
}
.carousel_search input {
  width: 80%;
  padding: 1%;
  text-align: center;
  font-size: 80%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 65%;
padding: 0.55rem;
}
.line_span {
  width: 100%;
  font-size: 35% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icon_div {
  gap: 18px;
  padding: 0 0%;
  padding-top: 7%;
  flex-wrap: wrap;

}
.carousel_icons {
  width: 60px;
  height: 60px;
}
.carousel_icons span {
  font-size: 1.3rem;
}
.selected {
  width: 70px;
  height: 70px;

}
.selected:hover {
  width: 70px;
  height: 70px;
}
.selected span {
  font-size: 1.9rem;
}
}
@media only screen and (max-width: 327px){

.overlay_main_title>h1{
font-size:3.7rem;
margin: 0;
}
.carousel_search {
  width: 80%;
}
.carousel_search input {
  width: 80%;
  padding: 1%;
  text-align: center;
  font-size: 80%;
  border-radius: 2rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
  transition-duration: 300ms;
}
.carousel_search button span{
font-size: 65%;
padding: 0.55rem;
}
.line_span {
  width: 100%;
  font-size: 35% !important;
  padding-top: 1rem;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.carousel_icon_div {
  gap: 13px;
  padding: 0 0%;
  padding-top: 7%;
  flex-wrap: wrap;

}
.carousel_icons {
  width: 60px;
  height: 60px;
}
.carousel_icons span {
  font-size: 1.3rem;
}
.selected {
  width: 70px;
  height: 70px;

}
.selected:hover {
  width: 70px;
  height: 70px;
}
.selected span {
  font-size: 1.9rem;
}
}