.login_div{
    height: 10vh;
    width: 100%;
   display: flex;
   justify-content: flex-end;
    background-color:  rgb(93, 23, 235);
}

.login_btn{
    font-size: 24px;
    /* width: 15%; */
    ;
    margin-right: 2rem ;
    padding: 0 5px;
    color: white;
    cursor: pointer;
    border-radius: 2rem;
}
.main_div{
    /* background-color: black; */
    background-color:  rgb(93, 23, 235);
    /* margin-top: -2%; */
    /* height: 100vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center_div{
    margin:40px;
    height:85%; 
    width: 60%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(93, 23, 235),
    0.3em 0.3em 1em rgb(93, 23, 235);
}
.center_div h1 {
    
    margin-left: 5%;
    margin-top: 2%;
}
.center_div p {
    /* color: white; */
    margin: 0% 5%;
    font-size: larger;
}
.content_div{
    height: auto;
    display: flex;
    flex-direction: row;
    flex: 10%;
}
.content_div>h4{
    margin-left: -4%;
    color: rgb(113, 77, 10);
}

.main_form_div{
    display: flex;
    padding: 2% 3%;
    border-radius: 0 0 2rem 2rem;
    height: 87%;
}
.form_left_div{
    flex: 40%;
}
.form_right_div{
    flex: 60%;
}

.form_left_div div{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.form_left_div div label{
    font-size: larger;
    margin-left: 2%;
    font-weight: 400;
}

.form_left_div div input{
    margin-top: 1%;
    width: 80%;
   padding: 10px 10px;
   border-radius: 2rem;
   color: black;
   border: 2px solid  rgb(93, 23, 235);
}
.form_left_div div select{
    margin-top: 1%;
    width: 80%;
   padding: 10px 10px;
   border-radius: 2rem;
   color: black;
   border: 2px solid  rgb(93, 23, 235);
}

.form_left_div div input::placeholder{
    color: rgb(67, 66, 66);
}
.icon {
    font-size: 1.3rem;
    color: blue;
    /* margin-left: -40px; */
    transform: translate(6rem, -2rem);
  }


.right_div_content{
    display: flex;
    flex-direction: row;
}
.right_div_content input{
    margin: 1% 1%;
    width: 60%;
   padding: 10px 10px;
   border-radius: 2rem;
   color: black;
   border: 2px solid  rgb(93, 23, 235);
}

.right_form_div{
    height: 80%;
    padding: 2% 3%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(8,1fr);
    row-gap: 0px;
    column-gap: 10px;
}
.rad_btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    
}

.rad_btn input{
  width: 20px;
  height: 24px;
}
.rad_btn label{
 font-size: 24px;
} 
.btn_div{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 10%;
}
.sub_btn{
    font-size: 24px;
    background-color: rgb(93, 23, 235);
    width: 30%;
    padding: 5px 0;
    color: white;
    cursor: pointer;
    border-radius: 2rem;

}

